@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,100;1,400&display=swap');

*{
    font-family: 'Fira Sans', sans-serif;
}

nav{
    margin-top: .5rem;
}

ul{
    margin-left: 20rem;
}

.col{
    margin-top: 3rem;
    padding: 2rem 2rem;
    background-color: grey;
    border-style: dashed;
    text-align: center;
    align-items: center;
}