@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,100;1,400&display=swap');

*{
    font-family: 'Fira Sans', sans-serif;
}
.logo{
    margin-left: 40rem;
}

h3{
    margin-left: 40rem;
}

.form-items{
    margin-left: 30rem;
    background-color: grey;
    padding: 2rem 4rem;
    width: 30%;
    height:65vh;
    border-radius: .6rem;

}

label{
    margin-left: 12rem;
    font-size: 1.2rem;
    margin-bottom: 4rem;
}

a{
    text-decoration: none;
    color :black;
}

input{
    margin-left: 2rem;
    width: 85%;
    height:5vh;
    border-radius: .6rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.btn-Submit{
    margin-left: 9rem;
    width: 40%;
    height: 5vh;
    margin-bottom: 2.2rem;
    font-size: 1rem;
    border-radius: .3rem;
    border-style: groove;
    background-color: rgb(0, 55, 255);
}

.btn-Submit:hover{
    background-color: rgb(7, 7, 172);
}

#error{
    margin-left: 1rem;
    border-radius: .6rem;
    background-color: red;
    text-align: center;
    padding: 1rem 2rem;
    display: none;
}